version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    ports:
      - "3307:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "127.0.0.1:14007:80" # local only
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: ${DATABASE_PASSWORD}
    networks:
      - app-network

  api:
    build:
      context: .
    restart: unless-stopped
    depends_on:
      - mysql
    volumes:
      - ./uploads:/app/uploads
    environment:
      NODE_ENV: production
    env_file:
      - .env
    command: npm run start:prod
    networks:
      - app-network
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    labels:
      caddy: "${PROD_SERVER_URL}"
      caddy.reverse_proxy: "{{upstreams 14000}}" # auto load balance
      caddy.tls: "true"
      caddy.encode: "gzip zstd"

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - ACME_AGREE=true
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - app-network
    depends_on:
      - api

volumes:
  mysql-data:
  uploads:
  caddy_data:
  caddy_config:

networks:
  app-network:
    driver: bridge
